<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{footer-learn}">

                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-programming-courses}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-java-course}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-help-with-tasks}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-pricing}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-game-projects}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer-community}">

                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-users}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-articles}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-forum}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-chat}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-success-stories}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer-company}"></h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-about-us}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-contacts}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-reviews}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-faq}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer-support}">Support</a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img alt="JavaRush" class="mb-3" src="/static/images/logo/jr.svg">
                        <p th:text="#{footer-javarush}">

                        </p>
                        <h6 th:text="#{footer-follow-us}">FOLLOW US</h6>
                        <div>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light" href="#" type="button">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4" th:text="#{footer-bottom}">
            Programmers Are Made, Not Born © 2024 JavaRush
        </div>
    </footer>
</div>
</html>
